@media (max-width: 600px){
  #loader{
    margin: 0 10%;
  }
}
@media (max-width: 4000px) {
  .hsmoke{
    top: 68vh;
  }
  .smoke{
    top: -97px;
    left: -60px;

  }
}
@media (max-width: 1920px) {
  .smoke{
    top: -30px;
    left: -22px;
    width: 60%;
  }
}
@media (max-width: 1200px) {
  html, body{
    overflow: hidden;
  }
  #ship{
    top: 63vh;
  }

}
@media (max-width: 1000px) {
  #ship{
    top: 64vh;
  }
}
@media (max-width: 820px) {
  html, body{
    overflow: hidden;
  }
  #ship{
    top: 67%;
  }
  .hsmoke{
    top: 76vh;
  }
  .compress{
    top: 28%;
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 540px) {
  .balloon-atr{
    width: 13%;
  }
  #ship{
    display: none;
  }
  .water{
    top:5%;
  }
  .compress{
    top: 45%;
    width: 100%;
    height: 45%;
    object-fit: cover;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
  }
  .cloud.tw{
    width: 60%;
  }
  .cloud.th{
    width: 70%;
  }
  .cloud.fo{
    top: 50%;

    width: 30%;
  }
  .cloud.fi{
    top: 50%;
    width: 40%;
  }
  .cloud.si{

    width: 50%;
  }
  .cloud.se{
    width: 50%;
  }
}