@media (max-width: 600px){

}
@media (max-width: 4000px) {
}
@media (max-width: 1920px) {
}
@media (max-width: 1200px) {

}
@media (max-width: 1000px) and (min-height: 1000px) {
  .compress{
    top: 28%;
    /* width: 100%; */
    height: 65%;
    object-fit: cover;
  }
}
@media (max-width: 820px) and (max-height: 400px) {
  html, body{
    overflow: hidden;
  }
  .compress{
    top: 28%;
    height: 65%;
  }
}
@media (max-width: 540px) {
  .byiki{
    left: -5px;
  }
  .back{
    object-fit: contain;
    top: 15%;
  }
  #ship{
    top: 73.5%;
  }
  .smoke{
    position: absolute;
    top: -7%;
   }
  .water{
    top:5%;
  }
  .flameDr{
    display: none;
  }
  .hsmoke{
    left: 67vw;
  }
  .compress{
    top: 56%;
    height: 66.6vw;
    object-fit: cover;
  }
  .cloud.tw{
    width: 60%;
  }
  .cloud.th{
    width: 70%;
  }
  .cloud.fo{
    top: 50%;
    width: 15%;
  }
  .cloud.fi{
    top: 50%;
    width: 40%;
  }
  .cloud.si{
    width: 50%;
  }
  .cloud.se{
    width: 50%;
  }
}