html, body{
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.sky{
  z-index: 900;
}
.water{
  z-index: 900;
}
.mount{
  z-index: 903;
}
.back{
  z-index: 901;
}
.ripp{
  z-index: 900;
}
.trees{
  z-index: 904;
}
.pier{
  z-index: 903;
}
.boats{
  top: -20px;
  z-index: 903;
  animation: moveboats 15s linear infinite;
}
.house{
  z-index: 905;
}
.hsmoke{
  z-index: 905;
  backface-visibility: hidden;
  transform: translateZ(0);
  position: absolute;
  width: 8vw;
  top: 68%;
  left: 68vw;
}
.snowman{
  z-index: 905;
}
.drova{
  z-index: 905;
}
.flameDr{
  z-index: 905;
  position: absolute;
  width: 3vw;
  top: 81vh;
  left: 64vw;
  backface-visibility: hidden;
}
.sun{
  position: absolute;
  z-index: 900;
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
}
.cabin{
  position: absolute;
  z-index: 904;
  width: 1.5%;
}
.threeHouse{
  z-index: 906;
}
.flameFair{
  z-index: 905;
}
.byiki{
  z-index: 905;
    animation: moveby 8s infinite linear;
}
.stouns{
  z-index: 905;
}
.bird{
  z-index: 903;
}
.tros{
  position: absolute;
  z-index: 904;
}
.path{
  width: 50%;
}
#loader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#loader img{
  max-width: 100%;
  max-height: 100%;
}
#nature{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.nature{
  position: absolute;
  width: 100%;
  height: 100%;
}
#ship{
  position: absolute;
  z-index: 901;
  top: 64%;
  width: 8%;
  animation: moveShip 60s infinite linear;
}
#ship img{
  max-width: 100%;
  max-height: 100%;
}
.smoke{
  position: absolute;
  top: -69%;
  left: -50%;
 }
#tros{
  position: absolute;
}
.cloud{
  position: absolute;
  z-index: 900;
  backface-visibility: hidden;
  transform: translateZ(0)
}
.cloud.one{
  top: 50%;
  width: 10%;
  animation: movecloud 20s infinite linear, opacitycl 10s infinite linear
}
.cloud.tw{
  left: -2%;
  top: 22%;
  width: 30%;
  animation: movecloud2 15s infinite linear, opacitycl 5s infinite linear
}
.cloud.th{
  left: -2%;
  top: -3%;
  width: 50%;
  animation: movecloud 10s infinite linear, opacitycl 12s infinite linear
}
.cloud.fo{
  left: 43%;
  top: 30%;
  width: 10%;
  animation: movecloud 15s infinite linear, opacitycl 8s infinite linear
}
.cloud.fi{
  left: 55%;
  top: 25%;
  width: 25%;
  animation: movecloud2 16s infinite linear, opacitycl 15s infinite linear
}
.cloud.si{
  right: -2%;
  top: 27%;
  width: 20%;
  animation: movecloud 20s infinite linear, opacitycl 10s infinite linear
}
.cloud.se{
  right: -2%;
  top: 5%;
  width: 30%;
  animation: movecloud2 20s infinite linear, opacitycl 5s infinite linear
}
.balloon-atr{
  position: absolute;
  z-index: 901;
  width: 7%;
  top: 12%;
  left: 12%;
  animation: moveBall 90s infinite linear;
}
.balloon-atr img{
  max-width: 100%;
  max-height: 100%;
}
img.flame{
  position: absolute;
  top: 66%;
  left: 44%;
  width: 8%;
}
.balloon-atr.flame{
  position: absolute;
}
.ripp{
  animation: moveripp 6s infinite linear;
  backface-visibility: hidden;
}
@keyframes moveripp {
  0%, 100% {
    transform: translate(0px, 0px);
    opacity: 0
  }
  30% {
    opacity: 100%
  }
  60% {
    transform: translate(0px, 30px);
    opacity: 20%;
  }
}

,,,

@keyframes movecloud {
  from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}
@keyframes movecloud2 {
  from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to   { transform: rotate(-360deg) translateX(10px) rotate(360deg); }
}
@keyframes opacitycl {
  0%,100% {
    opacity: 100%;
  }
  45% {
    opacity: 40%;
  }
}
@keyframes moveboats {
  0%,  100%{transform: rotate(90deg) translateX(20px) rotate(-90deg)}
  25%{transform: rotate(120deg) translateX(20px) rotate(-120deg);}
  75%{transform: rotate(60deg) translateX(20px) rotate(-60deg)}
}
@keyframes moveby {
  0%, 100% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-6px, 6px);
  }

  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(6px, 6px);
  }
}
@keyframes moveShip {
  from {
    left: -10%;
    transform: translate(0) translateY(0)
  }
  to {
    left: 110%;
    transform: translateX(-100%) translateY(0)
  }
}
@keyframes moveBall {
  0%, 100%{
    top: 50%;
    left: -20%;
    transform: translateX(10%) scale(1);
    z-index: 901;
  }
  1%{
    top: 20%
  }
  25%{
    transform: scale(0.7);
  }
  50%{
    top: 20%;
    left: 110%;
    transform: translateX(100%) scale(1);
    z-index: 901;
  }
  51%{
    top: 50%;
    z-index: 904;
  }
  75%{
    transform: scale(1.3);
  }
  99%{
    z-index: 904;
  }
}
@keyframes sway {
  to { transform: rotate(1deg); }
}
