html, body{
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.sky{
  z-index: 900;
}
.water{
  z-index: 900;
}
.mount{
  z-index: 903;
}
.back{
  z-index: 901;
}
.ripp{
  z-index: 900;
}
.trees{
  z-index: 904;
}
.pier{
  z-index: 903;
}
.boats{
  z-index: 903;
  transform-origin: center top;
  transform: rotate(-30deg);
  animation: sway 2.2s infinite alternate ease-in-out;
  /* animation: moveboats 15s infinite linear; */
}
.house{
  z-index: 905;
}
.hsmoke{
  z-index: 905;
  backface-visibility: hidden;
  transform: translateZ(0);
  position: absolute;
  width: 8vw;
  top: 64vh;
  left: 68vw;
}
.snowman{
  z-index: 905;
}
.drova{
  z-index: 905;
}
.flameDr{
  z-index: 905;
  position: absolute;
  width: 3vw;
  top: 81vh;
  left: 64vw;
  backface-visibility: hidden;
}
.sun{
  position: absolute;
  z-index: 900;
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
}
.cabin{
  position: absolute;
  z-index: 904;
  width: 1.5%;
  /* animation: movecabin 8s infinite linear; */
}
.threeHouse{
  z-index: 906;
}
.flameFair{
  z-index: 905;
}
.byiki{
  z-index: 905;
    animation: moveby 8s infinite linear;
}
.stouns{
  z-index: 905;
}
.bird{
  z-index: 903;
}
.tros{
  position: absolute;
  z-index: 904;
}
.path{
  width: 50%;
}
#loader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#loader img{
  max-width: 100%;
  max-height: 100%;
}
#nature{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.nature{
  position: absolute;
  width: 100%;
  height: 100%;
}
#ship{
  position: absolute;
  z-index: 901;
  top: 64%;
  width: 8%;
  animation: moveShip 60s infinite ease-in-out;
}
#ship img{
  max-width: 100%;
  max-height: 100%;
}
.smoke{
  position: absolute;
  top: -69%;
  left: -50%;
 }
#tros{
  position: absolute;
}
.cloud{
  position: absolute;
  z-index: 900;
  backface-visibility: hidden;
  transform: translateZ(0)
}
.cloud.one{
  top: 50%;
  width: 10%;
  animation: movecloud 20s infinite linear;
}
.cloud.tw{
  top: 22%;
  width: 30%;
  animation: movecloud2 15s infinite linear;
}
.cloud.th{
  top: -3%;
  width: 50%;
  animation: movecloud 10s infinite linear;
}
.cloud.fo{
  left: 43%;
  top: 30%;
  width: 10%;
  animation: movecloud2 9s infinite linear;
}
.cloud.fi{
  left: 55%;
  top: 25%;
  width: 25%;
  animation: movecloud2 10s infinite linear;
}
.cloud.si{
  right: 0;
  top: 27%;
  width: 20%;
  animation: movecloud 20s infinite linear;
}
.cloud.se{
  right: 0;
  top: 5%;
  width: 30%;
  animation: movecloud 20s infinite linear;
}
.balloon-atr{
  position: absolute;
  z-index: 901;
  width: 7%;
  top: 12%;
  left: 12%;
  animation: moveBall 90s infinite linear;
  /* transition: transform 1s ease-out; */
  /* backface-visibility: hidden; */
  /* transform: translateZ(0) */
}
.balloon-atr img{
  max-width: 100%;
  max-height: 100%;
}
img.flame{
  position: absolute;
  top: 66%;
  left: 44%;
  width: 8%;
}
.balloon-atr.flame{
  position: absolute;
}
.ripp{
  animation: moveripp 6s infinite linear;
  backface-visibility: hidden;
}
@keyframes moveripp {
  0% {
    transform: translate(0px, 0px);
    opacity: 0
  }
  30% {
    opacity: 100%
  }
  60% {
    transform: translate(0px, 30px);
    opacity: 20%;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 0;
  }
}
@keyframes movecloud {
  0% {
    transform: translate(0px, 0px);
    opacity: 100%;
  }
  45% {
    transform: translate(20px, 10px);
  }
  75% {
    transform: translate(10px, 20px);
   opacity: 60%;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 100%;
  }
}
@keyframes movecloud2 {
  0% {
    transform: translate(0px, 0px);
    opacity: 100%;
  }
  45% {
    transform: translate(-30px, -5px);
    opacity: 60%;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 100%;
  }
}

@keyframes moveboats {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-6px, 6px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(6px, 6px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes moveby {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-6px, 6px);
  }

  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(6px, 6px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes moveShip {
  from {
    left: -10%;
    transform: translate(0) translateY(0)
  }
  to {
    left: 110%;
    transform: translateX(-100%) translateY(0)
  }
}
@keyframes moveBall {
  0%, 100%{
    top: 50%;
    left: -20%;
    transform: translateX(10%) scale(1);
    z-index: 901;
  }
  1%{
    top: 20%
  }
  25%{
    transform: scale(0.7);
  }
  50%{
    top: 20%;
    left: 110%;
    transform: translateX(100%) scale(1);
    z-index: 901;
  }
  51%{
    top: 50%;
    z-index: 904;
  }
  75%{
    transform: scale(1.3);
  }
  99%{
    z-index: 904;
  }
}
@keyframes sway {
  to { transform: rotate(1deg); }
}
